In [23]:
import pandas as pd

In [2]:
df = pd.read_csv('London Housing Dataset.csv')
df

In [3]:
df.count()

In [4]:
df.isnull().sum()

#### Visualization of missing values

In [5]:
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
plt.figure(figsize=(5,4))
sns.heatmap(df.isnull())
plt.show()

#### (A) Convert the Datatype of 'Date' column to Date-Time format.

In [7]:
df.dtypes

In [8]:
df.date = pd.to_datetime(df.date)
df.dtypes

#### (B.1) Add a new column "year" in the dataframe, which contains years only.

In [9]:
df['year'] = df.date.dt.year
df

#### (B.2) Add a new column "month" as 2nd column in the dataframe, which contains month only.

##### We can directly create col as well as position it with :

##### df.insert(1,'month',df.date.dt.month)
##### df

### Or

In [10]:
df['month'] = df.date.dt.month
df

##### Get the index of the 'month' column
month_index = df.columns.get_loc('month')

##### Specify the position where you want to insert the 'month' column
insert_position = 1  # 1 corresponds to the 2nd position (0-based index)

##### Use the insert function to move the 'month' column to the specified position
df.insert(insert_position, 'month', df.pop('month'))

In [11]:
df.insert(1,'month',df.pop('month'))
df.head()

In [12]:
df.insert(2,'year',df.pop('year'))
df.head()

#### (C) Remove the columns 'year' and 'month' from the dataframe.

In [13]:
df.drop( ['month', 'year'], axis=1, inplace = True)
df.head()

#### (D) Show all the records where 'No. of Crimes' is 0. And, how many such records are there?

In [14]:
df[df['no_of_crimes'] == 0]

In [15]:
len(df[df['no_of_crimes'] == 0])

#### (E) What is the maximum & minimum 'average_price' per year in england?

In [16]:
df['year'] = df.date.dt.year

In [17]:
df1 = df[df.area == 'england']

In [18]:
df1.groupby('year')['average_price'].max()

In [19]:
df1.groupby('year')['average_price'].min()

#### (F) What is the Maximum & Minimum No. of Crimes recorded per area?

In [20]:
df.groupby('area')['no_of_crimes'].max()

In [21]:
df.groupby('area')['no_of_crimes'].min()

#### (G) Show the total count of records of each area, where average price is less than 100000.

In [22]:
df[df.average_price < 100000].area.value_counts()